mss
keyboard
numpy
paddleocr==3.7.0
paddlepaddle==3.2.2
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Globalization
winrt-Windows.Graphics.Imaging
winrt-Windows.Media.Ocr
winrt-Windows.Storage.Streams